<aside class="col-2 border border-light bg-white p-2">
    <article class="card mb-1">
        <div class="card-header">
            Categories   
        </div>
    </article>
    <article class="card mb-1">
        <div class="card-body py-0 ps-3">
            <p class="my-0"><a href="{{ path('admin_categories_index') }}">List</a></p>
            <p class="my-0"><a href="">Add</a></p>           
        </div>
    </article>   
    <article class="card mb-1">
        <div class="card-header">
            Products   
        </div>
    </article>
    <article class="card mb-1">
        <div class="card-body py-0 ps-3">
            <p class="my-0"><a href="{{ path('admin_products_index') }}">List</a></p>
            <p class="my-0"><a href="{{ path('admin_products_add') }}">Add</a></p>
        </div>
    </article>   
    <article class="card mb-1">
        <div class="card-header">
            Users
        </div>
    </article>
    <article class="card mb-1">
        <div class="card-body py-0 ps-3">
            <p class="my-0"><a href="{{ path('admin_users_index') }}">List</a></p>            
        </div>
    </article>   
</aside>