        <footer class="container-fluid bg-light">
            <div class="container"></div>
                <div class="row">
                    <section class="col">
                        &copy;opyright
                    </section>
                    <section class="col">
                        Colonne 02
                    </section>
                    <section class="col">
                        Colonne 03
                    </section>
                </div>
            </div>
        </footer>    