<div class="container">
    <section class="section">            
            <div class="bd-callout bd-callout-info p-0 m-0 border-0">                   
                <p class="text-info bg-dark text-center p-1">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>                    
            </div>            
    </section>    
</div>