<aside class="col-2 border border-light bg-white p-2">
    <article class="card mb-1">
        <div class="card-header">
            Informations   
        </div>
    </article>
    <article class="card mb-1">
        <div class="card-body py-0 ps-3">
            <p class="my-0"><a href="{{ path('admin_users_show') }}">Mon compte</a></p>
            <p class="my-0"><a href="#">Adresses</a></p>
            <p class="my-0"><a href="{{ path('app_orders_show') }}">Commades</a></p>
            <p class="my-0"><a href="#">Fidelité</a></p>
            <p class="my-0"><a href="#">Newsletter</a></p>
            
        </div>
    </article>   
</aside>