{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12">        
        <h1>Site <e-commerce>e-commerce</e-commerce></h1>
        <p>Bienvenue dans notre boutique en ligne</p>        
        </div>

        <div class="row">
            <p><strong>La page que vous cherchez n'existe pas. Merci</strong></p>
        </div>        
    </section>
</main>


{% endblock %}
